.page-container{
    display: grid;
    width:100vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        'picture picture picture picture'
        'details details hours hours'
    ;
    //border: 1px fuchsia solid;
    gap:10px;
}

.picture-container {
    grid-area: picture;
    //width:100vw;
    //border: 3px red solid;
    display:flex;
    justify-content: center;    
}

.picture {
    //border:3px solid blue;
     width: 50%;
}

.hours{
    //border:3px solid green;
    grid-area: hours;
}

.details{
    //border:3px solid orangered;
    grid-area: details;
}