.container{
    position: relative;
    width:50vw;
    height:50vh;
    border: 5px green solid;
}

.picture{
    position: absolute;
    border:1px black solid;
    width: 98%;
    height: 55%;
    top: 2%;
    left: 1%;
    right: 1%;
}

.hours{
    position: absolute;
    width:45%;
    height:35%;
    border:1px black solid;
    right:1%;
    bottom: 2%;
}

.details{
    position: absolute;
    width:45%;
    height:35%;
    border:1px black solid;
    left:1%;
    bottom: 2%;
}