.food-container {
    font-size: 25px;
    //border: green 5px solid;
    display:grid;
    grid-template-areas: '. categories food .';
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:20px;
}

.categories {
    grid-area: categories;
    //border: black 4px solid;
}

.food {
    grid-area: food;
    //border: black 4px solid;  
}

.center {
    height:95vh;
    display:flex;
    flex-direction: column;
    //border: 5px blue solid;
    justify-content: center;
}